.Header-main-container {
  height: 64px;
}

.Header-sub-container {
  position: sticky;
  background: white;
  top: 0;
  height: 44px;

  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.005), 0 2px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
